.tf-navbar {
  /*min-height: 75px;*/
  .navbar-brand {
    /*font-size: 34px;*/
    font-weight: bold;
    line-height: 1;
    /*height: 75px;*/
    color: #000;
  }
}
.tf-h2 {
  font-size: 29px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
